# Systemd
*.target.wants
# Fish
fish_history
fishd*
# Emacs
emacs/.emacs.d/places
emacs/.emacs.d/packages/
emacs/.emacs.d/tramp
emacs/.emacs.d/auto-save*
# Vim
vim/.fonts/.uuid
vim/.vim/autoload/plug.vim