[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "themes/greybird"]
	path = themes/greybird
	url = https://github.com/shimmerproject/Greybird.git
[submodule "emacs.d/custom.d/sml"]
	path = emacs.d/custom.d/sml
	url = https://github.com/Bruce-Connor/smart-mode-line.git
[submodule "emacs.d/custom.d/haskell-mode"]
	path = emacs.d/custom.d/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "emacs.d/custom.d/pkgbuild-mode"]
	path = emacs.d/custom.d/pkgbuild-mode
	url = https://github.com/juergenhoetzel/pkgbuild-mode.git
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
