[Unit]
Description=i3lock
After=xorg.target
Before=suspend.target
Before=i3.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/i3lock -d

[Install]
WantedBy=mystuff.target
