[Unit]
Description=i3lock
After=xorg.target
Before=suspend.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/i3lock -nd

[Install]
WantedBy=mystuff.target
