[Unit]
Description=i3 screen lock
Before=i3.service

[Service]
Type=forking
ExecStart=/usr/bin/i3lock -d -c 000000 -p default

[Install]
WantedBy=mystuff.target
