[Unit]
Description=Start offlineimap as a daemon

[Service]
ExecStart=/usr/bin/offlineimap -c %h/.mail/offlineimaprc
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=xlogin.target
