[Unit]
Description=Hides mouse pointer when immobile
Documentation=man:unclutter(1)

[Service]
Type=simple
ExecStart=/usr/bin/unclutter
RemainAfterExit=yes

[Install]
WantedBy=xlogin.target
