[Unit]
Description=Window manager target
Wants=mystuff.target
Requires=dbus.socket
Requires=xorg.target
AllowIsolate=true

[Install]
Alias=default.target
