[Unit]
Description=Configure Xresources
Before=i3.service
After=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.config/Xresources

[Install]
WantedBy=mystuff.target
