[Unit]
Description=Sets X root window background
Before=i3.service

[Service]
Type=oneshot
Environment="WALLDIR=%h/images/wallpapers" "SETTER=feh --bg-scale -f -"
ExecStart=/bin/sh -c 'find ${WALLDIR} -type f | shuf -n1 | ${SETTER}'

[Install]
WantedBy=mystuff.target
