[Unit]
Description=Compton compositor
Documentation=man:compton(1)

[Service]
Type=simple
ExecStart=/usr/bin/compton --config %h/.config/compton.conf

[Install]
WantedBy=xlogin.target
