[Unit]
Description=X wallpaper setting
Documentation=man:feh(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale --randomize --recursive %h/.wallpapers
RemainAfterExit=yes

[Install]
WantedBy=xlogin.target
